@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100;0,600;1,100;1,400&family=Poppins:wght@500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.text{
    margin-bottom: 190px;
}
.text h1{
    text-align: center;
    font-weight: 600;
}
text p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.midimg{
  width: 50%;
  height: 806px;
}

.ques{

 padding-left: 15%;
 padding-right: 15%;
}
.brand{
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 3%;
   width: 50%;
}
.footer{
    height: 250px;
    width: 100%;
}
.footertxt {
    font-size: 12px;
    text-align: center;
    
}
.smtxt{
    padding-top: 0%;
}
.socialico{
    gap: 21px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    padding-right: 28px;
    
}
.socialico a{
    color: aliceblue;
}


@media only screen and (max-width: 600px){
    .join{
       margin-top: 15%;
        text-align: center;
        flex-direction: column;
    }
    .join h1{
        font-size: 25px;
        margin-top: 5px;
    }
    .join p{
        font-size: 14px;
        
        
    }
    .rbt{
        margin-bottom: 20%;

    }
    .midtxt{
        text-align: center;
    }
        
    .ques{
        width: 100%;
       text-align: center;
       padding-left: 0%;
       padding-right: 0%;
    }
    .brandname{
        display: none;
    }
  
    .scard{
        display: flex;
        flex-direction: column-reverse;
    }
    

    
       
    
}
@media only screen and (min-width: 768px){
    .join{
        margin-top: 15%;
         text-align: center;
         flex-direction: column;
     }
     .join h1{
         font-size: 25px;
         margin-top: 5px;
     }
     .join p{
         font-size: 14px;
         
         
     }
     .rbt{
         margin-bottom: 20%;
 
     }
     .viewbtn{
        visibility: hidden;
     }
     .ques{
        width: 100%;
       text-align: center;
       padding-left: 0%;
       padding-right: 0%;
       
    } 
    .brandname{
        display: none;
    }
   
       
         

}
@media only screen and (min-width: 731px){
    .brandname{
        display: none;
    }
}
@media only screen and (min-width: 992px){
    .join h1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        text-align: l;
        padding-right: 9%;
        
}
.join p{
  padding-left: -15%;
 width: 50%;
    
}
.join{
    margin-top: 0;
    flex-direction: row;
}
.join2{
    width: 25%;
    display: flex;
    margin-right: -15%;
  
}
}.viewbtn{
    visibility: hidden;
}
@media only screen and (min-width: 992px){
    .viewbtn{
        visibility: visible;
    }
    .ques{

        padding-left: 15%;
        padding-right: 15%;
       }
       .brandname{
        display:inline;
    }
}
