@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100;0,600;1,100;1,400&family=Poppins:wght@500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.text{
    margin-bottom: 190px;
}
.text h1{
    text-align: center;
    font-weight: 600;
}
text p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.mideum{
    visibility: hidden;
}
   